$grid: #38c016;
$link: #ff0;
$link_active: darken($link, 17%);
$bg: #0F0F0F;
$bg_box: #191919;
$bg_box2: #060606;


body {
	background-color: $bg;
	color: white;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 11.5pt;
	background: url('/assets/coolgreen2.png');
}

@media screen and (max-width: 640px) {
	body {
		padding-left: 5px;
		padding-right: 5px;
	}
}

a {
	color: $link;
	text-decoration: none;

	&:hover { text-decoration: underline; }
	&:active { color: $link_active; }
}

p {
	line-height: 1.5;
}

ul li, ol li {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

textarea, input[type=text], input[type=password], input[type=color], .jscolor {
	background-color: #111;
	border: 1px solid $grid;
	color: white;
	padding: 5px;
}


h1 { margin: 0; font-size: 1.9em; border-bottom: 1px solid #adadad; }
h2 { font-size: 1.50em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.00em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }


.user {
	&, &:hover, &:active {
		text-decoration: none;
	}

	.t_user {
		color: #6da0fd;
		font-weight: bold;
	}
}

/// Layout \\\

.container {
	display: flex;
	align-items: flex-start;
	max-width: 1440px;
	margin: auto;

	.sidebar {
		padding: 5px;
	}

	.sidebar {
		width: 160px;
		background: rgba(16, 48, 2, 0.65);
		margin-right: 15px;
		border: 2px solid $grid;

		.sidelinks {
			margin: 0;
			padding-left: 15px;
			padding-top: 5px;

			li {
				list-style-type: none;
			}
		}

		.sideheader {
			margin-top: 30px;
			padding-bottom: 5px;
			padding-left: 20px;
			border-bottom: 1px solid white;
			font-weight: bold;
		}
	}

	.main {
		flex: 1;

		.header, .footer {
			.actionlinks, .headerlinks {
				margin: 0;
				padding: 0;
			}

			.headerlinks {
				li {
					list-style-type: none;
					display: inline-block;
					padding: 0px 10px;
				}

				.box {
					border: 2px solid $grid;
				}
			}

			.actionlinks {
				li {
					list-style-type: none;
					display: inline-block;
					padding: 5px 10px;
					margin: 0;
				}

				.box a {
					border: 1px solid $grid;
					border-bottom: 0;
					width: 60px;
					height: 28px;
					display: inline-block;
					padding: 5px 10px;
					text-align: center;

					&.selected {
						background: rgba(16, 48, 2, 0.65);
					}
				}
			}
		}

		.header {
			height: 85px;
			text-align: right;
		}

		.content {
			background: rgba(8, 8, 8, 0.75);
			padding: 10px;
			border: 2px solid $grid;
		}

		.footer {
			padding: 20px;

			.stats {
				float: right;
				text-align: right;
			}
		}
	}
}


// sane styling for wiki pages
.wiki {
	img {
		max-width: 100%;
	}
}


.thumb {
	max-width: 640px;
}

/// Table of contents \\\

.toc {
	border: 1px solid $grid;
	background-color: rgba(8, 8, 8, 0.788);
	min-width: 300px;
	padding: 10px;
	display: inline-block;

	.toc_title {
		text-align: center;
	}

	ul {
		margin: 0;
		padding-left: 20px;
	}
}

/// Infobox \\\

.infobox {
	background: rgba(8, 8, 8, 0.788);
	border: 2px solid $grid;
	text-align: center;
	min-width: 300px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 25px;

	table {
		width: 100%;
		border-collapse: collapse;

		.heading {
			background: rgba(16, 48, 2, 0.65);
			font-size: 12pt;
			font-weight: bold;
		}

		tr {
			border-bottom: 2px solid $grid;

			&:last-child {
				border-bottom: 0;
			}
		}

		td, th {
			padding: 10px;
		}
	}

	@media screen and (min-width: 700px) {
		margin-top: -65px;
		margin-left: 25px;
		margin-right: 0;
		float: right;
		clear: both;
	}
}

/// Diff styling \\\

.diff {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;

	tbody th {
		text-align: right;
		background: #111;
		width: 2em;
		padding: 1px 4px;
		border-left: 1px solid #444;
		border-right: 1px solid #444;
		vertical-align: top;
	}

	td {
		padding: 1px 4px;
		font-family: Consolas, monospace;
	}

	ins, del {
		text-decoration: none;
	}

	.skip {
		background: #000;
	}

	.chng-replace .d-left,
	.chng-delete .d-left {
		background: #600;
	}

	.chng-replace .d-right,
	.chng-insert .d-right {
		background: #060;
	}

	.chng-replace ins {
		background: #0a0;
	}

	.chng-replace del {
		background: #a00;
	}
}

a.nonexistant {
	color: #e63333;
}

.sizediff-pos { color: #0c0 }
.sizediff-neg { color: #c00 }
.sizediff-net { color: #aaa }


/// Generic classes \\\

.left	{ text-align: left; }
.center	{ text-align: center; }
.right	{ text-align: right; }

.clear_right { clear: right; }
.float-right { float: right; }

.noborder { border: 0; }

.text-for-ants { font-size: 8pt; }

.error {
	color: red;
	font-weight: bold;
}

/// Prism.js styling \\\
@import "_prism";
