{% extends "_layout.twig" %}

{% set title = "Log in" %}
{% set noindex = true %}
{% set pagename = "/wiki/Special:Login" %}

	{% block content %}
<h1>Log in</h1>

{% if error %}
	<p class="error">Error while trying to register: <br>- {{ error | join('<br>- ') | raw }}</p>
{% endif %}

<form method="POST">
	<p>Username<br>
		<input type="text" name="name" size="25" maxlength="25" required></p>

	<p>Password<br>
		<input type="password" name="pass" size="25" maxlength="64" required></p>

	<p><input type="submit" name="action" value="Login"></p>
</form>
	{% endblock %}