{% extends "_layout.twig" %}

{% set title = "Log in" %}
{% set noindex = true %}
{% set pagename = "/wiki/Special:Login" %}

	{% block content %}
<h1>Log in</h1>

<form method="POST">
	<p>Username<br> <input type="text" name="name" size="25" maxlength="25"></p>
	<p>Password<br> <input type="password" name="pass" size="25" maxlength="100"></p>

	<p><input type="submit" class="submit" name="action" value="Login"></p>
</form>
	{% endblock %}